* text=auto !eol
doc/describe.css -text
doc/describe.py -text
python/actorkeys/Makefile -text
python/actorkeys/__init__.py -text
python/actorkeys/apo.py -text
python/actorkeys/boss.py -text
python/actorkeys/cmds.py -text
python/actorkeys/gcamera.py -text
python/actorkeys/mcp.py -text
python/actorkeys/mcp.py.skl -text
python/actorkeys/platedb.py -text
python/actorkeys/sop.py -text
python/actorkeys/sos.py -text
python/actorkeys/tcc.py -text
python/actorkeys/testing.py -text
ups/actorkeys.table -text
